# Trust is provisioned separately. Never place production tokens in source control.
config niseva 'general'
 option mode 'enabled'
 option server 'hosted'
 option hosted_hostname 'xnet-rms-test.duckdns.org'
 option hosted_port '8445'
 option hostname ''
 option port '8445'
 option enrollment_token ''
 option retry_initial '120'
 option retry_initial_period '3600'
 option retry_regular '300'
 option retry_standby '21600'
 option standby_after '1209600'
