config niseva 'general'
	option enabled '1'
	option server_url 'http://82.180.146.203:8090'
	option mqtt_host '82.180.146.203'
	option mqtt_port '1883'
	option serial_number ''
	option mqtt_token ''
	option enrollment_token ''
	option heartbeat_interval '60'
	option telemetry_interval '300'
	option rollback_timeout '180'

# Monitored services watchlist
config service 'ipsec'
	option enabled '1'
	option type 'ubus'
	option object 'ipsec'
	option method 'status'

config service 'modbus'
	option enabled '0'
	option type 'procd'
	option service_name 'modbus-master'
