RMS_PKI_DIR=/etc/xnet-rms/tunnel-pki
RMS_LISTEN=:9443
RMS_PUBLIC_URL=https://xnet-rms-test.duckdns.org:8445
RMS_CORE_URL=https://xnet-rms-test.duckdns.org:8445
RMS_TUNNEL_DOMAIN=xnet-rms-test.duckdns.org
RMS_TUNNEL_PORT=9443
